
*{
     font-family: sans-serif;
}

.flexmain {
     border: 2px solid lightgrey;
     display: flex;
     align-items: center;
     margin-left: 30px;
     margin-right: 30px;
     padding: 20px;
     justify-content: space-between;
     width: 1000px;
}

.network{
     display: flex;
     color: white;
     background-color: black;
     padding: 10px;
}
.feed{
     display: flex;
     align-items: center;
}
.col1{
     flex: 1;
}
.col2{
     flex: 3;
}
.profile{
     display: flex;
     border: 2px solid black;
}

.names{
     display: flex;
     border: 2px solid black;
     margin-bottom: 15px;
     padding: 15px;
     margin-left: 20px;
     align-items: center;
}